@import 'base';

@import 'special-pages';

/*body[data-theme="black"] > section a {
    border: 2px solid $teal;
}

body:not([data-theme="dark"]) > section a {
    border: 2px solid var(--foreground);
}*/

/* Style the tab */
.tab {
  //height:23px; //for safari
  //height: 23.5px; //for chrome
  height:39.3px;
  //height:2.5rem;
  background-color: var(--background);
  border-bottom: 1px solid var(--foreground);
  padding-top: 15px;
  padding-bottom: 0px;

  button:first-child {
    margin-left: 3rem;
  } 
  
  button {
    background-color: transparent;
    float: left;
    //outline: none;
    //cursor: pointer;
    margin: 0 1rem;
    color:  var(--foreground);
    //align-items: flex-end;
    //writing-mode: sideways-lr;
    border: 1px solid var(--foreground);
    padding: 2px 5px;
  }

  button a {
    //border: 1px solid var(--foreground);
    //padding: 2px 5px;
    width: 175px;
    text-align: center;
    font-size: 16px;
  }

  button:hover {
    background-color: var(--hovercolor);
  }

  button.active  {
    background-color: var(--background);
    //border-bottom-color: var(--background);
    border-bottom: 2px solid var(--background);
  }
}


.tabcontent {
  display: none;
}

#blog {
  display: block;
}


table {
    margin: 1rem auto;
    border: 1px solid var(--foreground);
    // border-top: none;
    border-spacing: 0;
    // table-layout: fixed;
    width: 95%;
    color: var(--foreground);

    th {
            padding: 1rem 1rem .5rem 1rem;
            margin-bottom: .25rem;
            margin-top: .25rem;
            text-align: left;
            background-color: var(--hovercolor);
        }

    tbody {

    }

    td {
    padding: 1em 1em;
    border-right: 1px solid;
    border-top: 1px solid;

    a {
      width:min-content;
    }

    .onetag ~ .onetag::before {
      content:', '; 
    }
    }

    td:last-child {
      border-right: none;
    }

    tr:hover {
        background-color: var(--hovercolor);
    }

    tr {
      span {
        margin-right: -.25rem;
      }
      span:hover {
      background-color: var(--foreground);
      color: var(--background);
      }
    }
}

stection {
  padding-top: 0.3rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
  grid-auto-rows: 24.5vw;
  min-height: width;
  width: 98%;
  grid-gap: 10px 10px;
  a {
    display: block;
    position: relative;
   color: var(--foreground);
    background-size: cover;
    background-color: var(--background);
    text-decoration: none;
    text-align:center;
    padding-top: 1em;
    padding-left: 1em;

    overflow: hidden;
    & span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      // margin-bottom: 10px;
     color: var(--foreground);
    }
    & div {
      opacity: 0;
      transform: translateY(40px);
      transition: transform 0.4s, opacity 0.4s;
      color: var(--foreground);
    }
    &:hover div {
      opacity: 1;
      transform: translateY(0);
      color: var(--foreground);
    }
    & time,
    p {
      display: block;
      position: relative;
      opacity: 0.8;
    }
  }
  & a:hover {
    outline: 1px solid var(--foreground);
    transform: scale(-1, -1);
    box-shadow: 0px 0px 5px 5px var(--foreground);
  }
}

@media (max-width: 1000px) {
  section {
    grid-template-columns: 1fr;
  }

  table {
    th:first-child,td:first-child {
      font-size: 14px;
      padding: .5rem;
      display:none;
    }
  }

}
