{# 
 {% extends 'head.html' %}
{% block styles %}
{{ macros::styles(file='section.css') }}
{% endblock styles %}

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@asyapluggedin">
<meta name="twitter:creator" content="@asyapluggedin">
<meta property="og:type" content="article" />
<meta property="og:url" content="{{config.base_url | safe}}/{{current_path | safe}}" />
<meta property="og:site_name" content="asyaplugged.in —&nbsp;blog" />

{% block meta_content %}
<title>Asya Davydova Lewis –&nbsp;blog</title>
<meta name="twitter:title" content="Asya Davydova Lewis –&nbsp;blog">
<meta property="og:title" content="Asya Davydova Lewis –&nbsp;blog" />
{% endblock meta_content %}
 
    <body>
        {% block body %}
            {% block content %}
            {% block welcome %}
            <div class="welcome">
                <div id="circle" style="text-align: center;"> 
                    <a id="counter"></a>
                    <div id="yes">
                        <a onclick="increment()">YES</a>

                        <script>
                            var count= document.getElementById("counter");
                            let value = 0;
                            count.innerHTML = value;

                            increment = function() {
                            count.innerHTML=++value;
                            }
                        </script>





                    </div>
                
                </div>
            {% if config.description %}
            <p>
                {{ config.description }}
            </p>
            {% endif %}
            </div>
            {% endblock welcome %}
            <section>
                {% if config.extra.menu %}
                {% for link in config.extra.menu %}
                {% set item_link = link.link  | replace(from="$base_url", to=config.base_url) %}
                        <a  href="{{ item_link | safe }}">
                            <span> {{ link.text }} </span>
                    </a>
                    {% endfor %}
                {% endif %}
            </section>
            {% endblock content %}
        {% endblock body %}
    </body>
</html>
#}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Asya Davydova Lewis</title>
</head>
<body>
   
    <blockquote>
        <marquee behavior="scroll" direction="left" scrollamount="8" loop="infinite" width="100%">
            <font face="Courier New"><h1>asya plugged in &nbsp;&nbsp;&nbsp; asya plugged in &nbsp;&nbsp;&nbsp; asya plugged in</h1></font>
        </marquee>
       

    <h2>What Do you Do?</h2>
  <ul>
    <li>Retreat hosting</li>
    <li>Cybernetic yoga instruction</li>
    <li>Software development (front-end, Rust, C#, Go)</li>
    <li>Interface design (wellness, medical, automotive, dev tools, creative tools)</li>
    <li>User experience research</li>
    <li>Microchip manicures (open for custom press-on orders)</li>
    <li>Legal and medical interpreting (Russian, Ukrainian)</li>
    <li>Offering apprentice tattoos for a limited time</li>
  </ul>
 
  <h2>Who are You?</h2>
  <p>
    I'm Anastasia Davydova Lewis, or Asya for short. 
    b. Moscow 1995, relocated to California in 2014, currently residing in South Pasadena. 
   </p>
   <p>
    UCLA Design Media Arts alum. CPR + BBLS certified, completed EMT training. Registered Body Arts Practitioner.
  </p>
  <ul>
    <li><a href="https://github.com/asyappluggedin">GitHub</a></li>
    <li><a href="https://www.are.na/asyappluggedin">Are.na</a></li>
    <li><a href="https://instagram.com/asyappluggedin">Instagram</a></li>
  </ul>

  <h2><s>What Do you Know?</s></h2>
  <p>Blog not currently live</p>

  <h2>What Do you Love?</h2>
  <p>
    <li><a href="https://open.spotify.com/user/1117495726?si=TKcbbx10QnqTFTvgA1Teqg&nd=1&dlsi=71b888d93e0f43ed">the music on my Spotify playlists</a></li>
    <li>wild strawberries</li>
    <li><a href="https://instagram.com/pepperonechka">my dog pepper</a></li>
    <li>body modification history</li>
  </p>
</blockquote>
</body>
</html>
