{# 
 {% extends 'head.html' %}
{% block styles %}
{{ macros::styles(file='section.css') }}
{% endblock styles %}

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@asyapluggedin">
<meta name="twitter:creator" content="@asyapluggedin">
<meta property="og:type" content="article" />
<meta property="og:url" content="{{config.base_url | safe}}/{{current_path | safe}}" />
<meta property="og:site_name" content="asyaplugged.in —&nbsp;blog" />

{% block meta_content %}
<title>Asya Davydova Lewis –&nbsp;blog</title>
<meta name="twitter:title" content="Asya Davydova Lewis –&nbsp;blog">
<meta property="og:title" content="Asya Davydova Lewis –&nbsp;blog" />
{% endblock meta_content %}
 
    <body>
        {% block body %}
            {% block content %}
            {% block welcome %}
            <div class="welcome">
                <div id="circle" style="text-align: center;"> 
                    <a id="counter"></a>
                    <div id="yes">
                        <a onclick="increment()">YES</a>

                        <script>
                            var count= document.getElementById("counter");
                            let value = 0;
                            count.innerHTML = value;

                            increment = function() {
                            count.innerHTML=++value;
                            }
                        </script>





                    </div>
                
                </div>
            {% if config.description %}
            <p>
                {{ config.description }}
            </p>
            {% endif %}
            </div>
            {% endblock welcome %}
            <section>
                {% if config.extra.menu %}
                {% for link in config.extra.menu %}
                {% set item_link = link.link  | replace(from="$base_url", to=config.base_url) %}
                        <a  href="{{ item_link | safe }}">
                            <span> {{ link.text }} </span>
                    </a>
                    {% endfor %}
                {% endif %}
            </section>
            {% endblock content %}
        {% endblock body %}
    </body>
</html>
#}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ get_url(path=config.extra.favicon | default(value='/favicon.svg') ) }}">
  <title>Asya Davydova Lewis</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Literata:wght@400;500;600&display=swap');

  body {
    color:#111;
    background:#fff;
    line-height:1.35;
    margin:clamp(0.5rem,2vw,1rem);
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    font-family: "Literata", serif;
  }
  main {
  width: min(90vw, 1100px);
  padding:clamp(0.5rem,5vw,4rem);
  max-width: min(80vw, 1100px);
}

  h2 { color:#111; 
font-family: "Literata", serif;}
  li { margin-top: 0.25rem;}
  span { color:#c9190c; }

  @media (prefers-color-scheme: dark) {
    body { background:#191a1d; color:#bfb4c8; }
    h2 { color:#d5cade; }
    h2 span { color:#00ffff !important; }
    a { color: #8888d4;}
  }
  </style>
</head>
<body>
   <marquee behavior="scroll" direction="left" scrollamount="8" loop="infinite" width="100%">
    <font face="Courier New"><h1>asya plugged in &nbsp;&nbsp;&nbsp; asya plugged in &nbsp;&nbsp;&nbsp; asya plugged in</h1></font>
    </marquee>
       
 <main>
   <h2>What Do you <span style="color:#c9190c;">Do</span>?</h2>
 <ul>
  <li>Interface design: laconic, limbic-friendly dashboards across wellness, medical, automotive, creative + dev tools. End-to-end product development and consulting.</li>
  <li>Software development: React, Next.js, TypeScript, Tailwind, Vercel.</li>
  <li>Cyborg manicure: custom press-ons, pop-ups, workshops.</li>
  <li>Tattoo: currently booking model-rate appointments.</li>
  <li>Experiential design: retreats, RPG development, workshops, corporate teambuilding, cyber-somatic sessions, narrative systems + immersive worldbuilding for therapeutic, educational + speculative environments.</li>
  <li>Volunteer interpreting: Russian + Ukrainian, legal + medical contexts.</li>
</ul>

 
  <h2>Who are <span style="color:#c9190c;">You</span>?</h2>
  <p>
    I'm Anastasia Davydova Lewis, or Asya for short. 
   <br><br>
   B.A. Design Media Arts, UCLA. PCC EMS Academy. <br>
   CPR + BBP certified. Registered Body Arts Practitioner.<br>
   Based in South Pasadena, b. Moscow 1995.
</p>
  <ul>
    <li><a href="https://github.com/asyapluggedin">GitHub</a></li>
    <li><a href="https://www.are.na/asyappluggedin">Are.na</a></li>
    <li><a href="https://instagram.com/asyappluggedin">Instagram</a></li>
  </ul>

  <h2><s>What Do you <span style="color:#c9190c;">Know</span>?</s></h2>
  <p>Blog in archive mode, check back later</p>

  <h2>What Do you <span style="color:#c9190c;">Love</span>?</h2>
  <ul>
    <li>My dog <a href="https://instagram.com/pepperonechka">Pepper</a></li>
    <li>The music on my <a href="https://open.spotify.com/user/1117495726?si=TKcbbx10QnqTFTvgA1Teqg&nd=1&dlsi=71b888d93e0f43ed">Spotify playlists</a></li>
    <li>Wild strawberries, cream top matcha lattes with oat milk, soup, pkhali, khinkali</li>
    <li>Prehension, Body modification history, ethnographic ornament, anthropoligical record of medicine</li>
    <li>Orthotics & prosthetics, anaplastology, 3D printed bionic pet appendages</li>
    <li>BRCA research, endometriosis, MIGS, genetic counseling, nerve resensitization</li>
    <li>Harm reduction, public health, mutual aid</li>
    <li>Circuit bending, synthesizer history, listening to music in a convertible</li>
    <li>Codependents Anonymous, Simone Weil, William Blake, Eastern Orthodox mysticism</li>
    <li>Computational theory of mind, animism, robodogs</li>
  </ul>
</main>
</body>
</html>
