{% extends "head.html" %}

{% block styles %} 
  {{macros::styles(file='do.css') }}
{% endblock styles %}

{% block htmltitle%}
  {{ macros::title_or_last(component=section) }} - {{ config.title }}
{%endblock htmltitle %}
{% block title %} 
  {{macros::title_or_last(component=section) }} 
{% endblock title %}

{% block math%} {{ macros::math() }} {% endblock math %}
{% block content %}
<!--
<img class="pika" src="https://asyaplugged.in/assets/pika.gif">
-->
<img class="pika" src="https://64.media.tumblr.com/f0da7c50d726e64c6c0d8a985240b6f4/dfbbb68a95adf2d4-ce/s250x400/afe73dd5883647200c53408018ed3be99b567b80.gif">

<section>

  {% for page in section.pages %}
 
  <a href="{{ page.permalink }}">

   

  {{ page::portfolio_image(page=page)}}
    
    <div>
      {% if page.description %}
      <p>{{ page.description }}</p>
      {% endif %}
    </div> 
</a>
  {% endfor %}
</section>
{% endblock content %}
