html, body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}


footer {
  flex-shrink: 0;
  margin-top: auto;
  width: 100%;
  min-height: 10px;
  // position: absolute; 
  // left: 0 ; right: 0; bottom: 0; 
  // padding-top: 0.25rem;
  // padding-bottom: 0.25rem;
  background-color: var(--background);
  border-top: 1px solid;
  border-color: var(--foreground);
  font-size: 16px;
  color: var(--foreground);

  display: grid;
  grid-template-columns: repeat(5,1fr);
  //background-color: var(--foreground);
  div {
    grid-gap: 0px;
    padding: 15px;
    border-bottom: 1px solid;

    &:nth-child(2) {
      border-left: 1px solid;
      border-right: 1px solid;
    }
    &:nth-child(3) {
      grid-column: span 3;
      display: flex;
      justify-content: flex-end;
      border-right: 0px;
    }
    &:nth-child(4) {
      grid-column: span 6;
      display: flex;
      justify-content: center;
      border-bottom: 0px;
    }
  }


  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
li {
    margin: 5 auto;
  }
  span {
    //padding-left: 1em;
    padding-bottom: 3px;
    font-size: 16px;

    &:hover{
      
      border-bottom: 2px solid;
      border-color: var(--foreground);
    }
    
  }
  a {
    color: var(--foreground);
  }
  
}