aside {
  // background: var(--background);
  // padding-top: 1rem;
  padding-right: 0;
  max-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  border-left: 1px solid $dark1;
  font-size: 14px;
  span {
    font-weight: bold;
    margin: 0 auto;
  }
  ul {
    position: sticky;
    padding-left: 0;
    padding-right: .5rem;
    max-width: 100%;
    max-height: 100vh;
  }
  li {
    display: grid;
    position: relative;
    margin-top: 0.345rem;
    padding-top: 0.345rem;
    &.children {
        a {
          margin-left: 1.5rem;
          font-size: 13px;
        }
    }
    &.edit-page {
        svg {
         margin-right: 0.5rem;
        }
    }
  }
  a {
    display: inline-block;
    letter-spacing: normal;
    margin-left: .75rem;
    padding: 4px 0;
    color: var(--blogtext);
    &:hover {
      color: var(--foreground);
    }
  }
  li:hover::before,
  .active::before{
    position: absolute;
    left: -2px;
    height: 100%;
    content: '';
    border-left: 3px solid;
    border-color: var(--foreground);
  }
}

@media (max-width: 1000px) {
  aside {
    display: none;
    ul {
      border: none;
    }
  }
  #toc {
    display: block;
    right: 0;
    transform: translateX(150%);
    &:target {
      transform: translateX(25px);
      z-index: 6;
    }
  }
}
