@import 'base';

@import 'special-pages';

body[data-theme="black"] > section a {
    border: 2px solid $teal;
}

body:not([data-theme="dark"]) > section a {
    border: 2px solid var(--foreground);
}

section {
  padding-top: 0.3rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
  grid-auto-rows: 24.5vw;
  min-height: width;
  width: 98%;
  grid-gap: 10px 10px;
  a {
    display: block;
    position: relative;
   color: var(--foreground);
    background-size: cover;
    background-color: var(--background);
    text-decoration: none;
    text-align:center;
    padding-top: 1em;
    padding-left: 1em;

    overflow: hidden;
    & span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      // margin-bottom: 10px;
     color: var(--foreground);
    }
    & div {
      opacity: 0;
      transform: translateY(40px);
      transition: transform 0.4s, opacity 0.4s;
      color: var(--foreground);
    }
    &:hover div {
      opacity: 1;
      transform: translateY(0);
      color: var(--foreground);
    }
    & time,
    p {
      display: block;
      position: relative;
      opacity: 0.8;
    }
  }
  & a:hover {
    outline: 1px solid var(--foreground);
    transform: scale(-1, -1);
    box-shadow: 0px 0px 5px 5px var(--foreground);
  }
}

@media (max-width: 1000px) {
  section {
    grid-template-columns: 1fr;
  }
}
